In [27]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

## Start with data preprocessing

In [28]:
df = pd.read_csv('data2.csv')
print(df.head())

         Date Location  MinTemp  MaxTemp  Rainfall  Evaporation  Sunshine  \
0  2008-12-01   Albury     13.4     22.9       0.6          NaN       NaN
1  2008-12-02   Albury      7.4     25.1       0.0          NaN       NaN
2  2008-12-03   Albury     12.9     25.7       0.0          NaN       NaN
3  2008-12-04   Albury      9.2     28.0       0.0          NaN       NaN
4  2008-12-05   Albury     17.5     32.3       1.0          NaN       NaN

  WindGustDir  WindGustSpeed WindDir9am  ... Humidity9am  Humidity3pm  \
0           W           44.0          W  ...        71.0         22.0
1         WNW           44.0        NNW  ...        44.0         25.0
2         WSW           46.0          W  ...        38.0         30.0
3          NE           24.0         SE  ...        45.0         16.0
4           W           41.0        ENE  ...        82.0         33.0

   Pressure9am  Pressure3pm  Cloud9am  Cloud3pm  Temp9am  Temp3pm  RainToday  \
0       1007.7       1007.1       8.0       NaN     16.9     21.8         No
1       1010.6       1007.8       NaN       NaN     17.2     24.3         No
2       1007.6       1008.7       NaN       2.0     21.0     23.2         No
3       1017.6       1012.8       NaN       NaN     18.1     26.5         No
4       1010.8       1006.0       7.0       8.0     17.8     29.7         No

   RainTomorrow
0            No
1            No
2            No
3            No
4            No

[5 rows x 23 columns]

In [29]:
for col in df.columns:
    col_count = df[col].value_counts().sort_index()
    print(col_count)

Date
2007-11-01     1
2007-11-02     1
2007-11-03     1
2007-11-04     1
2007-11-05     1
              ..
2017-06-21    49
2017-06-22    49
2017-06-23    49
2017-06-24    49
2017-06-25    48
Name: count, Length: 3436, dtype: int64
Location
Adelaide            3193
Albany              3040
Albury              3040
AliceSprings        3040
BadgerysCreek       3009
Ballarat            3040
Bendigo             3040
Brisbane            3193
Cairns              3040
Canberra            3436
Cobar               3009
CoffsHarbour        3009
Dartmoor            3009
Darwin              3193
GoldCoast           3040
Hobart              3193
Katherine           1578
Launceston          3040
Melbourne           3193
MelbourneAirport    3009
Mildura             3009
Moree               3009
MountGambier        3040
MountGinini         3040
Newcastle           3039
Nhil                1578
NorahHead           3004
NorfolkIsland       3009
Nuriootpa           3009
PearceRAAF          3009
Penrith             3039
Perth               3193
PerthAirport        3009
Portland            3009
Richmond            3009
Sale                3009
SalmonGums          3001
Sydney              3344
SydneyAirport       3009
Townsville          3040
Tuggeranong         3039
Uluru               1578
WaggaWagga          3009
Walpole             3006
Watsonia            3009
Williamtown         3009
Witchcliffe         3009
Wollongong          3040
Woomera             3009
Name: count, dtype: int64
MinTemp
-8.5     1
-8.2     2
-8.0     2
-7.8     1
-7.6     2
        ..
 31.2    1
 31.4    3
 31.8    1
 31.9    1
 33.9    1
Name: count, Length: 389, dtype: int64
MaxTemp
-4.8     1
-4.1     1
-3.8     1
-3.7     1
-3.2     1
        ..
 46.8    3
 46.9    1
 47.0    1
 47.3    2
 48.1    1
Name: count, Length: 505, dtype: int64
Rainfall
0.0      91080
0.1        157
0.2       8761
0.3         65
0.4       3782
         ...
247.2        1
268.6        1
278.4        1
367.6        1
371.0        1
Name: count, Length: 681, dtype: int64
Evaporation
0.0      244
0.1        8
0.2      503
0.3       10
0.4      769
        ...
77.3       1
81.2       1
82.4       1
86.2       1
145.0      1
Name: count, Length: 358, dtype: int64
Sunshine
0.0     2359
0.1      542
0.2      521
0.3      433
0.4      326
        ...
14.0      15
14.1       6
14.2       2
14.3       4
14.5       1
Name: count, Length: 145, dtype: int64
WindGustDir
E      9181
ENE    8104
ESE    7372
N      9313
NE     7133
NNE    6548
NNW    6620
NW     8122
S      9168
SE     9418
SSE    9216
SSW    8736
SW     8967
W      9915
WNW    8252
WSW    9069
Name: count, dtype: int64
WindGustSpeed
6.0        1
7.0       19
9.0       91
11.0     192
13.0     532
        ...
122.0      3
124.0      2
126.0      2
130.0      1
135.0      3
Name: count, Length: 67, dtype: int64
WindDir9am
E       9176
ENE     7836
ESE     7630
N      11758
NE      7671
NNE     8129
NNW     7980
NW      8749
S       8659
SE      9287
SSE     9112
SSW     7587
SW      8423
W       8459
WNW     7414
WSW     7024
Name: count, dtype: int64
WindDir3pm
E       8472
ENE     7857
ESE     8505
N       8890
NE      8263
NNE     6590
NNW     7870
NW      8610
S       9926
SE     10838
SSE     9399
SSW     8156
SW      9354
W      10110
WNW     8874
WSW     9518
Name: count, dtype: int64
WindSpeed9am
0.0       8745
2.0       4609
4.0       6360
6.0       9118
7.0      10783
9.0      13649
11.0     11728
13.0     13132
15.0     10625
17.0     10788
19.0      8763
20.0      8063
22.0      5672
24.0      5450
26.0      3766
28.0      3568
30.0      2336
31.0      2025
33.0      1130
35.0       977
37.0       589
39.0       455
41.0       326
43.0       272
44.0       197
46.0       175
48.0        87
50.0        88
52.0        65
54.0        38
56.0        44
57.0        22
59.0         5
61.0        11
63.0         9
65.0         8
67.0         4
69.0         2
72.0         1
74.0         4
83.0         1
87.0         2
130.0        1
Name: count, dtype: int64
WindSpeed3pm
0.0      1112
2.0      1034
4.0      2249
6.0      3805
7.0      5903
9.0      9753
11.0    10015
13.0    12580
15.0    11483
17.0    12539
19.0    11263
20.0    11713
22.0     8598
24.0     9052
26.0     6508
28.0     6553
30.0     4589
31.0     3985
33.0     2510
35.0     2155
37.0     1370
39.0     1106
41.0      656
43.0      558
44.0      351
46.0      288
48.0      181
50.0      182
52.0       85
54.0       58
56.0       55
57.0       27
59.0       20
61.0       18
63.0       13
65.0       18
67.0        1
69.0        3
72.0        2
74.0        1
76.0        2
78.0        1
83.0        2
87.0        1
Name: count, dtype: int64
Humidity9am
0.0         1
1.0         5
2.0         8
3.0        10
4.0        20
         ...
96.0     1609
97.0     1789
98.0     2099
99.0     3391
100.0    2863
Name: count, Length: 101, dtype: int64
Humidity3pm
0.0        4
1.0       26
2.0       35
3.0       63
4.0      113
        ...
96.0     462
97.0     403
98.0     603
99.0     434
100.0    400
Name: count, Length: 101, dtype: int64
Pressure9am
980.5     1
982.0     1
982.2     1
982.3     1
982.9     2
         ..
1040.4    3
1040.5    1
1040.6    2
1040.9    1
1041.0    1
Name: count, Length: 546, dtype: int64
Pressure3pm
977.1     1
978.2     1
979.0     1
980.2     2
981.2     1
         ..
1038.2    1
1038.4    1
1038.5    1
1038.9    1
1039.6    1
Name: count, Length: 549, dtype: int64
Cloud9am
0.0     8642
1.0    15687
2.0     6500
3.0     5914
4.0     4420
5.0     5567
6.0     8171
7.0    19972
8.0    14697
9.0        2
Name: count, dtype: int64
Cloud3pm
0.0     4974
1.0    14976
2.0     7226
3.0     6921
4.0     5322
5.0     6815
6.0     8978
7.0    18229
8.0    12660
9.0        1
Name: count, dtype: int64
Temp9am
-7.2     1
-7.0     1
-6.2     1
-5.9     1
-5.6     2
        ..
 38.9    1
 39.0    1
 39.1    1
 39.4    1
 40.2    1
Name: count, Length: 441, dtype: int64
Temp3pm
-5.4     1
-5.1     1
-4.4     1
-4.2     1
-4.1     1
        ..
 45.8    2
 45.9    1
 46.1    3
 46.2    1
 46.7    1
Name: count, Length: 502, dtype: int64
RainToday
No     110319
Yes     31880
Name: count, dtype: int64
RainTomorrow
No     110316
Yes     31877
Name: count, dtype: int64

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   Evaporation    82670 non-null   float64
 6   Sunshine       75625 non-null   float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  float64
 20  Temp3pm        141851 non-null  float64
 21  RainToday      142199 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.5+ MB

In [31]:
null = df.isna().mean() * 100
print("Percentage of missing values in each column:\n", null)

Percentage of missing values in each column:
 Date              0.000000
Location          0.000000
MinTemp           1.020899
MaxTemp           0.866905
Rainfall          2.241853
Evaporation      43.166506
Sunshine         48.009762
WindGustDir       7.098859
WindGustSpeed     7.055548
WindDir9am        7.263853
WindDir3pm        2.906641
WindSpeed9am      1.214767
WindSpeed3pm      2.105046
Humidity9am       1.824557
Humidity3pm       3.098446
Pressure9am      10.356799
Pressure3pm      10.331363
Cloud9am         38.421559
Cloud3pm         40.807095
Temp9am           1.214767
Temp3pm           2.481094
RainToday         2.241853
RainTomorrow      2.245978
dtype: float64

Cloud9AM, Cloud3PM, Evaporatoin and Sunshine has really high null value rate, so imputation isn't very practical here. SO we either need to drop the columns or perform feature engineering.

First I am gonna try to combine the Cloud

In [32]:
df["CloudMean"] = df[["Cloud9am", "Cloud3pm"]].mean(axis=1).round()
df["CloudMean"] = df["CloudMean"].fillna(df["CloudMean"].mode()[0])

print(df["CloudMean"].isna().mean() * 100)

for col in ["CloudMean"]:
    col_count = df[col].value_counts().sort_index()
    print(col_count)

df = df.drop(columns=["Cloud9am", "Cloud3pm"])
df.info

0.0
CloudMean
0.0     8044
1.0     8446
2.0    11574
3.0     4401
4.0    14746
5.0     5098
6.0    66999
7.0    11305
8.0    14846
9.0        1
Name: count, dtype: int64

<bound method DataFrame.info of               Date Location  MinTemp  MaxTemp  Rainfall  Evaporation  \
0       2008-12-01   Albury     13.4     22.9       0.6          NaN
1       2008-12-02   Albury      7.4     25.1       0.0          NaN
2       2008-12-03   Albury     12.9     25.7       0.0          NaN
3       2008-12-04   Albury      9.2     28.0       0.0          NaN
4       2008-12-05   Albury     17.5     32.3       1.0          NaN
...            ...      ...      ...      ...       ...          ...
145455  2017-06-21    Uluru      2.8     23.4       0.0          NaN
145456  2017-06-22    Uluru      3.6     25.3       0.0          NaN
145457  2017-06-23    Uluru      5.4     26.9       0.0          NaN
145458  2017-06-24    Uluru      7.8     27.0       0.0          NaN
145459  2017-06-25    Uluru     14.9      NaN       0.0          NaN

        Sunshine WindGustDir  WindGustSpeed WindDir9am  ... WindSpeed3pm  \
0            NaN           W           44.0          W  ...         24.0
1            NaN         WNW           44.0        NNW  ...         22.0
2            NaN         WSW           46.0          W  ...         26.0
3            NaN          NE           24.0         SE  ...          9.0
4            NaN           W           41.0        ENE  ...         20.0
...          ...         ...            ...        ...  ...          ...
145455       NaN           E           31.0         SE  ...         11.0
145456       NaN         NNW           22.0         SE  ...          9.0
145457       NaN           N           37.0         SE  ...          9.0
145458       NaN          SE           28.0        SSE  ...          7.0
145459       NaN         NaN            NaN        ESE  ...         17.0

        Humidity9am  Humidity3pm  Pressure9am  Pressure3pm  Temp9am  Temp3pm  \
0              71.0         22.0       1007.7       1007.1     16.9     21.8
1              44.0         25.0       1010.6       1007.8     17.2     24.3
2              38.0         30.0       1007.6       1008.7     21.0     23.2
3              45.0         16.0       1017.6       1012.8     18.1     26.5
4              82.0         33.0       1010.8       1006.0     17.8     29.7
...             ...          ...          ...          ...      ...      ...
145455         51.0         24.0       1024.6       1020.3     10.1     22.4
145456         56.0         21.0       1023.5       1019.1     10.9     24.5
145457         53.0         24.0       1021.0       1016.8     12.5     26.1
145458         51.0         24.0       1019.4       1016.5     15.1     26.0
145459         62.0         36.0       1020.2       1017.9     15.0     20.9

        RainToday  RainTomorrow CloudMean
0              No            No       8.0
1              No            No       6.0
2              No            No       2.0
3              No            No       6.0
4              No            No       8.0
...           ...           ...       ...
145455         No            No       6.0
145456         No            No       6.0
145457         No            No       6.0
145458         No            No       2.0
145459         No           NaN       8.0

[145460 rows x 22 columns]>

Replacing still missing values with mode as it is categorical type data

In [34]:
df["CloudMean"] = df["CloudMean"].fillna(df["CloudMean"].mode()[0])
print(df["CloudMean"].isna().mean() * 100)

for col in ["CloudMean"]:
    col_count = df[col].value_counts().sort_index()
    print(col_count)

0.0
CloudMean
0.0     8044
1.0     8446
2.0    11574
3.0     4401
4.0    14746
5.0     5098
6.0    66999
7.0    11305
8.0    14846
9.0        1
Name: count, dtype: int64